*.ico
*.png
*.svg
*.log
*.sh
.DS_Store
.browserslistrc
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.gitattributes
.gitignore
.idea/
.prettierignore
.prettierrc.json
.stylelintignore
.vscode/
coverage/
dist/
node_modules/
 